<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Crazy Horse Racing</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">


    <script th:inline="javascript">
        let wallHitboxes = [[${walls}]];
        let carrotHitbox = [[${carrot}]];
        let gameId = [[${gameId}]];
        const horses = [];
        let gameover = false;

        function getHorseIndex(id) {
            for (let index = 0; index < horses.length; index++) {
                if (horses[index].id === id) {
                    return index;
                }
            }
            return -1;
        }

        const status_socket = new WebSocket(`ws://localhost:8080/ws/game/` + gameId + `/status`);
        status_socket.onmessage = (event) => {
            let str = event.data.toString();
            let receivedMessage = JSON.parse(str);
            // TODO also handle the "winner" state
            for (let receivedHorse of receivedMessage.horses) {
                let existingHorseIndex = getHorseIndex(receivedHorse.id);
                if (existingHorseIndex === -1) {
                    console.log("New horse detected");
                    let img = document.createElement("img");
                    document.getElementById("game").appendChild(img);

                    img.setAttribute("class", "horse");
                    img.id = "horse_" + receivedHorse.id;
                    img.src = receivedHorse.type.imagePath;
                    // TODO style the div more here?
                    receivedHorse.dom_elem = img;

                    horses.push(receivedHorse);
                } else {
                    let previousHorse = horses[existingHorseIndex];
                    horses[existingHorseIndex] = receivedHorse;
                    receivedHorse.dom_elem = previousHorse.dom_elem;
                }
            }
        };

        const move_socket = new WebSocket(`ws://localhost:8080/ws/game/` + gameId + `/move`);
        function move_up() {
            move_socket.send("MOVE_UP");
        }
        function move_down() {
            move_socket.send("MOVE_DOWN");
        }
        function move_left() {
            move_socket.send("MOVE_LEFT");
        }
        function move_right() {
            move_socket.send("MOVE_RIGHT");
        }

        document.addEventListener("keydown", function(event) {
            switch (event.key) {
                case "ArrowUp":
                    move_up();
                    break;
                case "ArrowDown":
                    move_down();
                    break;
                case "ArrowLeft":
                    move_left();
                    break;
                case "ArrowRight":
                    move_right();
                    break;
            }
        });

        function updateHorsesPositions(delta) {
            for (horse of horses) {
                horse.vec.x = horse.vec.x + horse.velocity.x * delta;
                horse.vec.y = horse.vec.y + horse.velocity.y * delta;
            }
            // TODO check for hitbox intersections?
        }

        let prevFrameTimestamp;
        function updateHorsesVisuals(timestamp) {
            if (prevFrameTimestamp === undefined) { prevFrameTimestamp = timestamp; }
            let delay = (timestamp - prevFrameTimestamp)/1000; // todo clamp value? the first call will cause this to be 0
            prevFrameTimestamp = timestamp;

            // Updating the divs to match their x,y coordinates
            for (let horse of horses) {
                horse.dom_elem.style.top = (horse.vec.y - horse.dom_elem.height/2) + "px";
                horse.dom_elem.style.left = (horse.vec.x - horse.dom_elem.width/2) + "px";
            }

            updateHorsesPositions(delay);

            requestAnimationFrame(updateHorsesVisuals); // animation loop
        }

        updateHorsesVisuals();
    </script>
</head>
<body>
<div layout:fragment="content">
    <!-- TODO position these differently so the user can't scroll -->
    <h1 style="text-align:center">Your Game</h1>
    <h4 id="gamestate" style="text-align:center"> TODO status </h4>
    <div id="game">
        <img id="level-image" th:src="${levelImage}" alt="If you're seeing this, something went wrong">
    </div>
</div>
</body>
</html>