<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org" xmlns="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Crazy Horse Racing</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script>

    <script th:inline="javascript">
        const HORSES_DEFAULT_SIZE = 100;
        const horseSizeMultiplier = [[${horseSizeMultiplier}]];
        const horseSize = HORSES_DEFAULT_SIZE*horseSizeMultiplier;
        const gameId = [[${gameId}]];
        const myUUID = [[${UUID}]];

        // Dynamic variables
        let stoppedPlaying = false;
        const horses = [];

        function getHorseIndex(id) {
            return horses.findIndex(horse => horse.id === id);
        }
        function addNewHorse(horse) {
            const horseDiv = document.createElement("div")
            document.getElementById('game').appendChild(horseDiv);
            horseDiv.setAttribute("class", "horse");
            horseDiv.id = `horse_${horse.id}`;
            horseDiv.style.height = `${horseSize}px`;
            horseDiv.style.width = `${horseSize}px`;

            const horseImage = document.createElement("img");
            horseDiv.appendChild(horseImage);
            horseImage.src = horse.type.imagePath;

            const playerName = document.createElement("div")
            horseDiv.appendChild(playerName);
            playerName.setAttribute("class", "player-name");
            playerName.innerText = horse.player.nickname;

            horse.div = horseDiv;
            horses.push(horse);
        }
        function updateHorse(horseIndex, updatedHorse) {
            updatedHorse.div = horses[horseIndex].div;
            horses[horseIndex] = updatedHorse;
        }
        function updateHorsesPositions(delta) {
            for (const horse of horses) {
                horse.pos.x = horse.pos.x + horse.velocity.x * delta;
                horse.pos.y = horse.pos.y + horse.velocity.y * delta;
            }
        }



        function showConfetti() {
            confetti({particleCount: 200, spread: 90, origin: {y: 0.4}});
            setTimeout(() => confetti({particleCount: 100, angle: 60, spread: 55, origin: {x: 0}}), 300);
            setTimeout(() => confetti({particleCount: 100, angle: 120, spread: 55, origin: {x: 1}}), 500);
        }
        function showOverlay(className, text, duration = 2500, scale = "1", background = "rgba(0,0,0,.35)", blur = "2px") {
            document.querySelector(`.${className}`)?.remove();

            const overlay = document.createElement("div");
            overlay.className = className;
            overlay.textContent = text;

            document.body.appendChild(overlay);

            requestAnimationFrame(() => {
                overlay.style.opacity = "1";
                overlay.style.transform = `scale(${scale})`;
                overlay.style.background = background;
                overlay.style.backdropFilter = `blur(${blur})`;
            });

            setTimeout(() => {
                overlay.style.opacity = "0";
                overlay.style.transform = "scale(0.95)";
                overlay.style.background = "transparent";
                overlay.style.backdropFilter = "blur(0px)";

                overlay.addEventListener("transitionend", () => overlay.remove(), { once: true });
            }, duration);
        }
        function showYouWin() {
            showOverlay("win-overlay", "YOU WIN");
        }
        function showWasted() {
            showOverlay("wasted-overlay", "WASTED");
        }
        function winEffect(winner) {
            showYouWin();
            showConfetti();
        }
        function loseEffect(winner) {
            showWasted()
        }
        function onGameOver(winner) {
            const win = winner.UUID == myUUID;
            if (win) {
                winEffect(winner.nickname);
            } else {
                loseEffect(winner.nickname);
            }
        }



        const status_socket = new WebSocket(`ws://localhost:8080/ws/game/${gameId}/status`);
        status_socket.onmessage = (event) => {
            const message = JSON.parse(event.data.toString());

            for (const receivedHorse of message.horses) {
                const horseIndex = getHorseIndex(receivedHorse.id);
                if (horseIndex === -1) {
                    addNewHorse(receivedHorse);
                } else {
                    updateHorse(horseIndex, receivedHorse);
                }
            }

            if (!stoppedPlaying && message.winner !== null) {
                stoppedPlaying = true;
                onGameOver(message.winner);
            }
        };

        const move_socket = new WebSocket(`ws://localhost:8080/ws/game/${gameId}/move`);
        const moves = {
            ArrowUp: "MOVE_UP",
            ArrowDown: "MOVE_DOWN",
            ArrowLeft: "MOVE_LEFT",
            ArrowRight: "MOVE_RIGHT"
        };
        document.addEventListener("keydown", function(event) {
            const move = moves[event.key];
            if (!move) return;
            event.preventDefault();
            move_socket.send(move);
        });



        let prevFrameTimestamp;
        function updateHorsesVisuals(timestamp) {
            if (prevFrameTimestamp === undefined) { prevFrameTimestamp = timestamp; }
            const delay = (timestamp - prevFrameTimestamp)/1000;
            prevFrameTimestamp = timestamp;

            updateHorsesPositions(delay);

            for (const horse of horses) {
                horse.div.style.left = `${horse.pos.x - horseSize/2}px`;
                horse.div.style.top = `${horse.pos.y - horseSize/2}px`;
            }

            requestAnimationFrame(updateHorsesVisuals); // animation loop
        }
        updateHorsesVisuals();
    </script>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="fragments/header :: header"></div>
    <h1 style="text-align:center">Your Game</h1>
    <div id="game">
        <img id="level-image" th:src="${levelImage}" alt="Couldn't load level image">
    </div>
</div>
</body>
</html>
